body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
    all: unset;
}

.header {
    width: 500px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.row {
    display:flex;
    flex-direction: row;
}


.container {
    display: flex;
    flex-direction: column;
    height: 450px;
    width: 450px;
    border: 1px solid black;
}

#pixel {
    flex-grow: 1;
    min-height: 1px;
    min-width: 1px;
    box-shadow:1px 1px 0 0 black;
}

.row {
    flex-grow: 1;
}

