body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
    all: unset;
}

.header {
    width: 500px;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row {
    display:flex;
    flex-direction: row;
    flex-grow: 1;
}


.container {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 400px;
    border: 1px solid black;
}

.modes {
    margin-top: 30px;
    width: 500px;
    display: flex;
    justify-content: space-between;
}

.options {
    display: flex;
    flex-direction: column;
}
#pixel {
    flex-grow: 1;
    min-height: 1px;
    min-width: 1px;
    border: 1px solid black;
}

